body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    font-size: 36px;
    margin-bottom: 30px;
  }
  
  label {
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
    text-align: left;
  }
  
  select {
    font-size: 18px;
    padding: 5px 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
  }
  
  .data-input {
    display: none;
  }
  
  .data-input.active {
    display: block;
    margin-bottom: 20px;
  }
  
  input[type="tel"],
  input[type="file"] {
    font-size: 18px;
    padding: 5px 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
  }
  
  button {
    font-size: 24px;
    padding: 10px 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #3e8e41;
  }
  
  #result {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 18px;
    margin-top: 30px;
  }